<html>
  <head>
    <title>Bibliography</title>
    <link rel='stylesheet' href='/css/mesh.css'>
    <link rel='stylesheet' href='/css/main.css'>
    
  </head>
  <body>
    <div class="mesh">

      <div class="content">
        
      <h2>Credits</h2>

      <p>
        OpenAI. (2023). ChatGPT (Mar 15 version) [Large language model]. <a class="citation-link" href="https://chat.openai.com/share/449656df-8b9b-49e9-9657-8173b03d292c">https://chat.openai.com/chat</a>
      </p>
      </div>
    </div>
    
    <footer>
      <a href="/scenario1">Back to Scenario 1</a>
    </footer>
  </body>
</html>

