<html>
  <head>
    <title>Scenario 1: $20,000</title>
    <link rel='stylesheet' href='/css/mesh.css'>
    <link rel='stylesheet' href='/css/main.css'>
    
  </head>
  <body>
    <div class="mesh">
      <nav>
         <a href="/scenario1">Scenario 1</a>
        <a href="/scenario2">Scenario 2</a>
        <a href="/scenario3">Scenario 3</a>
         <a href="/scenario4">Scenario 4</a>
      </nav>
      <div class="content">
        
      <h2>20,000 dollars</h2>
      <h3>Imagine what you could do</h3>
      <p>
        <strong>You are in a room with one person. The room is blank. You have a gun with one bullet, loaded. If you kill the person, you get the money. No-one will know, or believe you if you ever confess. Would you do it? Why?</strong>
      </p>
      <p>
      The ethical dilemma of receiving a substantial sum, $20,000, to commit an act as morally grave as taking someone's life prompts a multifaceted examination. On one side, the financial incentive could be viewed as a powerful motivator, especially in situations of economic hardship. Individuals facing desperate circumstances may weigh the potential benefits against the perceived consequences, questioning the subjective nature of morality and the absence of inherent right or wrong.

        Conversely, from a moral standpoint, the act of taking a life raises profound ethical concerns that extend beyond personal gain. The value of societal norms and legal frameworks universally condemn such actions. Considering the potential psychological and legal repercussions, one might argue that no amount of financial compensation justifies the gravity of the act.
      </p>
      </div>
    </div>
  <footer>
    <a href="/bibliography">Bibliography</a>
  </footer>
  </body>
</html>

